@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020617;
  }

  .dark {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

@theme {
  /* Попробуй убрать или заменить на это, если не срабатывает */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

